{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
 <head>
   <title>UCCS CS Students</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bootstrap demo</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 </head>

 <style>
  div {}
  body {background-color: #2e2e2e;}
  h1   {color: white;}
  h2   {color: #feffe0;}
  li   {color: white;}
  h3    {color: #feffe0;}
  h4    {color: #feffe0;}
  h5    {color: #dbd9b4;}
  p    {color: #dbd9b4;}
  td    {color: #dbd9b4;}

    .frm 
    {
      color: white;
    }

  .navbar-custom {
    background-color: #1a1a1a;
    text-color: white;
    color: white;

  }

  .nav-link {
    color: white;
  }
  .nav-link:hover {
    color: #ffc524;
  }

  </style>


 <body>
   <div class="container-fluid">


     <!-- Navbar-->
     <nav class="navbar navbar-expand-lg navbar-custom">
       <img src="{% static 'images/TEMP_logo.png' %}" style="width:10%">
       <div class="container-fluid">
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
             <!--  {% url 'index' %}  is defined in url path to dynamically create url -->
             <a class="nav-link" aria-current="page" href="{% url 'index' %}">Welcome</a>
             <a class="nav-link" aria-current="page" href="{% url 'recent' %}">Recent</a>
             <a class="nav-link" aria-current="page" href="{% url 'duels' %}">Duels</a>
           </div>
           <div class="container-xl"> </div>
            {% if user.is_authenticated %}
              <a class="nav-link" aria-current="page" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
            {% else %}
              <a class="nav-link" aria-current="page" href="{% url 'login' %}?next={{ request.path }}">Login</a>
            {% endif %}
          

         </div>
          
       </div>
     </nav>


       <div class="col-sm-10">
         <!-- add block content from html template -->
         {% block content %}
         {% endblock %}
        </div>
    </div>
</div>
</body>
</html>