<!-- inherit from base.html-->
{% extends "artfight_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1 class="text-center">Welcome to Art Fight!</h1>
<div class="container  align-items-center justify-content-center text-wrap" style="width: 20rem;">
    <h2 class="text-center"> _________________ </h2>
    <h2 class="text-center">Website Currently in Development</h2>
    <h2 class="text-center"> _________________ </h2>
    <h5 class="text-center white">This website allows you to compete with your friends and foes in the colliseum of artistic skills!</h5>
    <h5 class="text-center"> --- </h5>
    <h5 class="text-center white">Create Your Own Tournaments!</h5>
    <h5 class="text-center"> --- </h5>
    <h5 class="text-center white">Draw Eachother's Characters.</h5>
    <h5 class="text-center"> --- </h5>
    <h5 class="text-center white">Vote on eachother's work.</h5>
    <h5 class="text-center"> --- </h5>
    <h4 class="text-center white">Who will come out on top in this battle of art?</h4>

</div>

{% endblock %}