<!-- inherit from base.html-->
{% extends "artFight_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}

    <div class="d-flex justify-content-center">
        <img src="{{object.artPiece.url}}" style="width:85%">
    </div>
    
    <h1>{{object.title}}</h1>
    <a class="btn btn-outline-light btn-sm" href="{% url 'update-art-form' object.id %}" role="button">Update</a>
    <a class="btn btn-outline-light btn-sm" href="{% url 'delete-art-form' object.id %}" role="button">Delete</a>
    <p><strong>About: </strong>{{object.description}}</p>
    

{% endblock %}