<!-- inherit from base.html-->
{% extends "artfight_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1 class="">Recently Uploaded Art:</h1>
<a class="btn btn-outline-light align-left" href="{% url 'upload-art-form' %}" role="button">Create</a>
<div class="container d-flex align-items-center text-wrap" style="width: 90%;">
    {%for art in art_list %}
        <div class="card" style="width: 30rem; background-color:black">
            <img src="{{art.artPiece.url}}" class="card-img-top" alt="...">
            <a href="{{art.get_absolute_url}}" class="link-light fs-4">{{art.title}}</a>
            <a href="#" class="link-light" style="color:#b3b3b3">{{art.user.name}}</a>
        </div>
    {%endfor%}
</div>
{%endblock%}